<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <link rel="stylesheet" href="{% static "CSS/demo.css" %}">
</head>
<body>
<div>
    <h1>Welcome to Sandeep News Information</h1>
    <p>Countious Information </p>
    <a  href="/movies" role="button"> Movies Information</a>
    <a  href="/sport" role="button">   Sport Information</a>
    <a  href="/pilict" role="button"> policts Information</a>
<img src="{% static 'images/Download-Floral-PNG-File-1.png' %}">
</div>

</body>
</html>