    h1{
        text-align: center;
        background: chartreuse
    }

    table{
        table-layout: fixed;
        width:100%;border-collapse: collapse;
        font-family: sans-serif;
    }
    table,th,td{border: 2px solid black;}
    th,td{padding: 5px; text-align: center;}
    thead th:nth-child(1){width:6%}
    thead th:nth-child(2){width:20%}
    thead th:nth-child(3){width:30%}
    thead th:nth-child(4){width:20%}
    thead th:nth-child(5){width:10%}
    thead th:nth-child(6){width: 30%}
    thead th:nth-child(7){width: 30%}
    thead th:nth-child(8){width:20%}