<!DOCTYPE html>
{% extends 'MyApp/base.html' %}
{% block body_block %}
    <h1>कर्मचारियों की जानकारी अपडेट करें फ़ार्म </h1><hr>
    <form method="post">
 {{ form.as_p }}
{% csrf_token %}
    Employes Number <input type="text" name="eno" value="{{ employes.eno }}"><br><br>
    Employes Name <input type="text" name="ename" value="{{ employes.ename }}"><br><br>
    Employes Salary <input type="text" name="esal" value="{{ employes.esal }}"><br><br>
    Employes Addres <input type="text" name="eadd" value="{{ employes.eadd }}"><br><br>
    <input type="submit" name="" value="Udated recode">
    </form>
{% endblock %}