<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        body{background: beige}
        h1{color: red;text-align: center}
        h2{color: brown;text-align: center}
        h3{color: #ff4b5c;text-align: center}
        h4{color: #ff39aa;text-align: center}
    </style>
</head>
<body>
<h1>HELLO SANDEEP KUMAR PATEL</h1>
<h2>THIS IS MIEDLL LEVEL</h2>
<H3>NOT THE MORE THEM TO MUCH </H3>
<H4>JOGI HO GAY MALA MAL NIRKAH MUCH LALA KA</H4>

</body>
</html>