<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home_page</title>
</head>
<body>
<h1>Hello SANDEEP Welcome To JavaScript</h1>

<h1><p id="some"></p></h1>

<script>
//let Student=[   {
 // 'name':'sandeep','age':28,'place':'indore'
//}]
//console.log(Student);
//document.write(3+4)
    //alert('hello')
    //window.alert('hello how are you')
    //document.write(prompt('enter you name'))
    //document.write(name)
   //document.write(confirm('woud you like to exit'))
    //document.getElementById('some').innerHTML='this is my dynsmic contant'
    //var name='sandeep'
    //document.write(typeof name,"<br>")
    //document.write(name.length,"<br>")
    //document.write(name.toUpperCase(),"<br>")
    //document.write(name.toLowerCase(),"<br>")
    //document.write(name.charAt(1),"<br>")
    {#var ob={'name':'sandeep'}#}
    {#document.write(typeof ob)#}
    {#document.write("<br>")#}
    {#document.write(ob['name'])#}
    {#var a=56#}
    {#var nams=[23,45,67,89,9]#}
    {#document.write(nams.length)#}
    {#document.write("<br>")#}
    {#document.write(nams[3])#}
    {#document.write(typeof nams)#}



</script>
<script src="{% static 'JS/js.js'%}">
</script>
</body>
</html>